<%= form_for [@account, @user_account], :html => { :class => 'form' } do |f| %>
  <%= f.error_messages :header_message => t('.error_creating_user_account') %>
  
  <p class="form_item">
    <span class="label"><%= f.label :email, t('.email'), :class => 'required' %></span>
    <%= f.text_field :email %>
  </p>
  
  <p><%= f.submit t('.add') %></p>
<% end %>
