<%= form_for [@account, @user_account], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages :header_message => t('.error_creating_user_account') %>
  
  <div class="control-group">
    <%= f.label :email, t('.email'), :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.add'), :class => 'btn' %>
    </div>
  </div>
<% end %>
