<div class="box">
  <div class="box-body">
    <%= form_for [@account, @user_account], :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.error_messages :header_message => t('.error_creating_user_account') %>

      <p>
        <%= f.label :email, t('.email'), :class => 'control-label required' %>
        <%= f.text_field :email, :class => 'form-control'  %>
      </p>

      <p>
        <%= f.submit t('.add'), :class => 'btn btn-primary btn-small btn-flat' %>
      </p>
    <% end %>
  </div>
</div>
