<%= title t('.forgot_password') %>

<div class="box">
  <div class="box-body">
    <p><%= t('.instructions') %></p>

    <%= form_tag password_resets_path do %>
      <p>
        <label><%= t('.email') %></label>
        <%= text_field_tag "email", "", :class => 'form-control' %>
      </p>

      <p>
        <%= submit_tag t('.reset'), :class => 'btn btn-primary btn-small btn-flat' %>
      </p>
    <% end %>
  </div>
</div>
