<h2><%= t('.edit_account') %></h2>

<%= render :partial => "tabs", :locals => { :selected => :edit } %>

<% form_for [:admin, @account], :html => { :class => 'form' } do |f| %>
  <%= f.error_messages :header_message => t('.could_not_update_account') %>
  
  <p class="form_item">
    <span class="label"><%= f.label :name, t('.name'), :class => 'required' %></span>
    <%= f.text_field :name %>
  </p>
  
  <p class="form_item">
    <span class="label"><%= f.label :maximum_check_runs_per_day, t(".maximum_check_runs_per_day") %></span>
    <span class="desc"><%= t(".maximum_check_runs_per_day_hint") %></span>
    <%= f.text_field :maximum_check_runs_per_day %>
  </p>
  
  <p><%= f.submit t('.save_account') %></p>
<% end %>
