<%= title t('.edit_account') %>

<div class="box">
  <div class="box-body">
    <%= render :partial => "tabs", :locals => { :selected => :edit } %>

    <%= form_for [:admin, @account], :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.error_messages :header_message => t('.could_not_update_account') %>

      <p>
        <%= f.label :name, t('.name'), :class => 'control-label required' %>
        <%= f.text_field :name, :class => 'form-control' %>
      </p>

      <p>
        <%= f.label :maximum_check_runs_per_day, t(".maximum_check_runs_per_day"), :class => 'control-label' %>
        <%= f.text_field :maximum_check_runs_per_day, :class => 'form-control' %>
        <small><%= t(".maximum_check_runs_per_day_hint") %></small>
      </p>

      <p>
        <%= f.submit t('.save_account'), :class => 'btn btn-primary btn-small btn-flat' %>
      </p>
    <% end %>
  </div>
</div>
