<%= title t('.account', :account => @account.name) %>

<div class="box">
  <div class="box-header">
    <div class="box-tools">
      <%= render :partial => "tabs", :locals => { :selected => :information } %>
    </div>
  </div>

  <div class="box-body">
    <%= render :partial => "/accounts/info" %>

    <h3><%= t(".users") %></h3>

    <% if @account.users.empty? %>
      <p><%= t('.no_users') %></p>
    <% else %>
      <ul class="asterisk">
        <% @account.users.each do |user| %>
          <li><%= link_to user.full_name, user_path(user) %> (<%= t("account.role.#{user.user_account_for(@account).role}") %>)</li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
