<%= form_for [@account, @site, @health_check, @check_run, @comment] do |f| %>
  <%= f.error_messages :header_message => t('.error_adding_comment') %>
  
  <p class="form_item">
    <span class="label"><%= f.label :title, t('.title') %></span>
    <%= f.text_field :title %>
  </p>

  <p class="form_item">
    <span class="label"><%= f.label :text, t('.text'), :class => 'required' %></span>
    <%= f.text_area :text, :rows => 5 %>
  </p>

  <p><%= f.submit t('.save_comment') %></p>
<% end %>
