<% array_id = "array_#{rand(1_000_000)}" %>

<p>
  <%= f.label variable.name, variable.display_name, :class => variable.required? ? 'control-label required' : 'control-label' %>
  <%= link_to t(".add_more"), '#', :id => "add-more-#{array_id}" %>
</p>

<% array = (f.object.send(variable.name) || { '0' => "" }); index = 0 %>
<% array.sort_by { |x| x.first.to_i }.collect { |x| x.last }.each_with_index do |value, index| %>
  <%= f.fields_for variable.name do |fields| %>
    <p id="<%= [array_id, index].join('_') %>">
      <%= fields.text_field index.to_s, :value => value %><%= link_to '[X]', '#', :id => "remove-#{array_id}" %>
    </p>
  <% end %>
<% end %>
<%= javascript_tag %{var #{array_id}_index = #{array.keys.size};} %>

<p id="<%= array_id %>">
  <small><%=h variable.description %></small>
</p>

<%= javascript_tag <<-JS
  $('#add-more-#{array_id}').click(function() {
    element = '<p id="#{array_id}_' + #{array_id}_index + '">' +
      '<input type="text" id="health_check_template_data_#{variable.name}_' + #{array_id}_index + '" name="health_check[template_data][#{variable.name}][' + #{array_id}_index + ']" size="30" />' +
      '<a href="#" onclick="$(\\'##{array_id}_' + #{array_id}_index + '\\').remove()">[X]</a>' +
      '<br/>' +
    '</p>'
    
    $(element).insertBefore('##{array_id}')
    #{array_id}_index++;
  })

  $('#remove-#{array_id}').click(function() {
    $('##{[array_id, index].join('_')}').remove()
  })
  JS
%>
