<table class="list">
  <thead>
    <tr>
      <th><%= t('.status') %></th>
      <th><%= t('.site') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @health_checks.each do |health_check| %>
      <tr>
        <td><%= status_icon health_check %></td>
        <td><%= link_to highlight(health_check.site.name, @search_filter.query), account_site_path(health_check.site.account, health_check.site) %></td>
        <td><%= link_to highlight(health_check.name, @search_filter.query), account_site_health_check_path(health_check.site.account, health_check.site, health_check) %></td>
        <td>
          <% action_list do |a| %>
            <% a.link_to t('.edit'), edit_account_site_health_check_path(health_check.site.account, health_check.site, health_check) if current_user.can_edit_health_checks?(@account) %>
            <% a.link_to t('.delete'), account_site_health_check_path(health_check.site.account, health_check.site, health_check), :method => :destroy, :confirm => t('.really_delete_health_check') if current_user.can_delete_health_checks?(@account) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
