<%= form_tag edit_multiple_health_checks_path do %>
  <table class="table table-hover">
    <thead>
      <tr>
        <% if current_user.can_edit_health_checks?(@account) %>
          <th></th>
        <% end %>
        <th colspan="2" class="hidden-phone"><%= t('.status') %></th>
        <th><%= t('.site') %></th>
        <th><%= t('.name') %></th>
        <% if current_user.can_edit_health_checks?(@account) %>
          <th><%= t('.options') %></th>
        <% end %>
      </tr>
    </thead>
    <% if current_user.can_edit_health_checks?(@account) %>
      <tfoot>
        <tr>
          <td></td>
          <td colspan="5">
            <%= action_list do |a| %>
              <% a.link_to_function t(".all"), %{$('table input[type="checkbox"]').prop('checked',true )} %>
              <% a.link_to_function t(".none"), %{$('table input[type="checkbox"]').prop('checked', false)} %>
              <% a.link_to_function t(".invert"), %{$('table input[type="checkbox"]').each(function(index) { $(this).prop('checked', !$(this).prop('checked'));})} %>
            <% end %>

            <%= submit_tag t(".edit_checked") %>
          </td>
        </tr>
      </tfoot>
    <% end %>
    <tbody>
      <% @health_checks.each do |health_check| %>
        <tr>
          <% if current_user.can_edit_health_checks?(@account) %>
            <td><%= check_box_tag "health_check_ids[]", health_check.id %></td>
          <% end %>
          <td class="hidden-phone"><%= status_icon health_check %></td>
          <td><%= weather_icon health_check %></td>
          <td><%= link_to highlight(health_check.site.name, @search_filter.query), account_site_health_checks_path(health_check.site.account, health_check.site) %></td>
          <td><%= link_to highlight(health_check.name, @search_filter.query), account_site_health_check_path(health_check.site.account, health_check.site, health_check) %></td>
          <% if current_user.can_edit_health_checks?(@account) %>
            <td>
              <%= action_list do |a| %>
                <% a.link_to t('.edit'), edit_account_site_health_check_path(health_check.site.account, health_check.site, health_check) if current_user.can_edit_health_checks?(@account) %>
                <% a.link_to t('.delete'), account_site_health_check_path(health_check.site.account, health_check.site, health_check), :method => :delete, :confirm => t('.really_delete_health_check') if current_user.can_delete_health_checks?(@account) %>
                <% a.link_to t('.run'), account_site_health_check_check_runs_path(health_check.site.account, health_check.site, health_check), :method => :post if current_user.can_run_health_checks?(health_check.site.account) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
