<table class="list">
  <thead>
    <tr>
      <th><%= t('.status') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @health_checks.each do |health_check| %>
      <tr>
        <td><%= status_icon health_check.status %></td>
        <td><%= link_to health_check.name, site_health_check_path(health_check.site, health_check) %></td>
        <td><%= link_to 'Edit', edit_site_health_check_path(health_check.site, health_check) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
