<%= form_tag edit_multiple_health_checks_path do %>
  <table class="table table-bordered dataTable">
    <thead>
      <tr>
        <% if current_user.can_edit_health_checks?(@account) %>
          <th class="check"></th>
        <% end %>
        <th colspan="2" class="hidden-phone"><%= t('.status') %></th>
        <th><%= t('.name') %></th>
        <% if current_user.can_edit_health_checks?(@account) %>
          <th><%= t('.options') %></th>
        <% end %>
      </tr>
    </thead>
    <% if current_user.can_edit_health_checks?(@account) %>
      <tfoot>
        <tr>
          <td></td>
          <td colspan="4">
            <%= link_to t(".all"), '#', :class => 'select-all btn btn-default btn-sm btn-flat' %>
            <%= link_to t(".none"), '#', :class => 'select-none btn btn-default btn-sm btn-flat' %>
            <%= link_to t(".invert"), '#', :class => 'select-invert btn btn-default btn-sm btn-flat' %>
            <%= submit_tag t(".edit_checked"), :class => 'btn btn-primary btn-sm btn-flat' %>
          </td>
        </tr>
      </tfoot>
    <% end %>
    <tbody>
      <% @health_checks.each do |health_check| %>
        <tr class="<%= status_class health_check %> <%= 'disabled' unless health_check.enabled %>">
          <% if current_user.can_edit_health_checks?(@account) %>
            <td><%= check_box_tag "health_check_ids[]", health_check.id %></td>
          <% end %>
          <td class="status hidden-phone"><%= status_icon health_check %></td>
          <td class="status hidden-phone"><%= weather_icon health_check %></td>
          <td>
            <%= link_to highlight(health_check.site.name, @search_filter.query), account_site_health_checks_path(health_check.site.account, health_check.site) %> / <%= link_to highlight(health_check.name, @search_filter.query), account_site_health_check_path(health_check.site.account, health_check.site, health_check) %>
          </td>
          <% if current_user.can_edit_health_checks?(@account) %>
            <td>
              <%= btn_group t('.edit'), edit_account_site_health_check_path(health_check.site.account, health_check.site, health_check) do |b| %>
                <% b.link_to t('.run'), account_site_health_check_check_runs_path(health_check.site.account, health_check.site, health_check), :method => :post, :class => "" if current_user.can_run_health_checks?(health_check.site.account) %>
                <% b.link_to t('.delete'), account_site_health_check_path(health_check.site.account, health_check.site, health_check), :method => :delete, :class => "", :data => { :confirm => t('.really_delete_health_check') } if current_user.can_delete_health_checks?(@account) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= javascript_tag "apply_table_events();" %>
