<% form_for [@account, @site, @health_check] do |f| %>
  <p class="form_item">
    <span class="label"><%= f.label :name, t('.name') %></span>
    <%= f.text_field :name %>
  </p>

  <p class="form_item">
    <span class="label"><%= f.label :description, t('.description') %></span>
    <%= f.text_area :description, :rows => 5 %>
  </p>

  <p class="form_item">
    <span class="label"><%= f.label :interval, t('.interval') %></span>
    <%= f.select :interval, HealthCheck.intervals %>
  </p>
  
  <p><%= f.submit t('.save_health_check') %></p>
<% end %>
