<%= form_for [@account, @site, @health_check], :html => { :class => 'form' } do |f| %>
  <%= f.error_messages :header_message => t('.could_not_create_health_check') %>
  
  <p class="form_item">
    <span class="label"><%= f.label :name, t('.name'), :class => 'required' %></span>
    <%= f.text_field :name %>
  </p>

  <p class="form_item">
    <span class="label"><%= f.label :description, t('.description') %></span>
    <%= f.text_area :description, :rows => 5 %>
  </p>

  <p class="form_item">
    <span class="label"><%= f.label :interval, t('.interval'), :class => 'required' %></span>
    <%= f.select :interval, HealthCheck.intervals_with_units %>
  </p>
  
  <p><%= f.submit t('.save_health_check') %></p>
<% end %>
