<%= form_for [@account, @site, @health_check], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages :header_message => t('.could_not_create_health_check') %>
  
  <p>
    <%= f.label :name, t('.name'), :class => 'control-label required' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :description, t('.description'), :class => 'control-label' %>
    <%= f.text_area :description, :rows => 5, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :interval, t('.interval'), :class => 'control-label required' %><br/>
    <%= f.select :interval, HealthCheck.intervals_with_units, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :always_send_notification, t('.send_notifications_always'), :class => 'control-label required' %><br/>
    <%= f.check_box :always_send_notification, :class => 'form-control' %>
  </p>

  <p>
    <%= f.submit t('.save_health_check'), :class => 'btn btn-primary btn-small btn-flat' %>
  </p>
<% end %>
