<% form_for [@account, @site, @health_check] do |f| %>
  <%= hidden_field_tag :template, @health_check_template.id %>
  
  <% f.fields_for :template_data, @health_check.template_data do |data| %>
    <%= data.error_messages :header_message => t('.could_not_create_health_check') unless @health_check.template_data.errors.empty? %>
    
    <% @health_check_template.fields.each do |hash| %>
      <% name, field = hash.keys.first, hash.values.first %>
      <p class="form_item">
        <span class="label"><%= data.label name, field['name'] %></span>
        <span class="desc"><%=h field['description'] %></span>
        <%= data.text_field name %>
      </p>
    <% end %>
  <% end %>
  
  <p><%= f.submit t('.save_health_check') %></p>
<% end %>
