<%= form_for [@account, @site, @health_check], :html => { :class => 'form-horizontal' } do |f| %>
  <%= hidden_field_tag :template, @health_check_template.id %>
  
  <%= f.fields_for :template_data, @health_check.template_data do |data| %>
    <%= data.error_messages :header_message => t('.could_not_create_health_check') unless @health_check.template_data.errors.empty? %>
    
    <% @health_check_template.variables.each do |variable| %>
    <%= render :partial => "#{variable.attributes['type']}_variable", :locals => { :f => data, :variable => variable } %>
    <% end %>
  <% end %>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.save_health_check'), :class => 'btn btn-primary btn-small btn-flat' %>
      <%= f.submit t(".preview"), :class => 'btn btn-default btn-small btn-flat' %>
    </div>
  </div>
<% end %>
