<h2><%= t('.all_health_checks') %></h2>

<div class="row">
  <div class="span3">
    <%= tabs(:selected => @report.to_sym) do |a| %>
      <% a.tab :details, t('health_checks.report.details'), health_checks_path(:report => 'details') %>
      <% a.tab :overview, t('health_checks.report.overview'), health_checks_path(:report => 'overview') %>
    <% end %>
  </div>
  
  <div class="span5">
    <%= tabs(:selected => @status.to_sym) do |a| %>
      <% a.tab :all, t('health_checks.status.all'), health_checks_path(:status => 'all') %>
      <% a.tab :success, t('health_checks.status.success'), health_checks_path(:status => 'success') %>
      <% a.tab :failure, t('health_checks.status.failure'), health_checks_path(:status => 'failure') %>
      <% a.tab :enabled, t('health_checks.status.enabled'), health_checks_path(:status => 'enabled') %>
      <% a.tab :disabled, t('health_checks.status.disabled'), health_checks_path(:status => 'disabled') %>
    <% end %>
  </div>
  
  <div class="span4">
    <%= render "/shared/filter", :url => health_checks_path(:report => params[:report]) %>
  </div>
</div>

<%#= auto_update 'checks' %>
<div id="checks">
  <%= render "list" %>
</div>
