<% title t('health_checks.all_checks.all_health_checks') %>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title hidden-xs"><%= t("health_checks.report.#{@report.to_sym}") %></h3>

        <div class="box-tools">
          <%= btn_group t("health_checks.report.#{@report}"), '#', :template => 'btn_menu', :class => 'hidden-xs' do |b| %>
            <% b.link_to t('health_checks.report.details'), health_checks_path(:report => 'details'), :selected => (@report.to_sym == :details) %>
            <% b.link_to t('health_checks.report.overview'), health_checks_path(:report => 'overview'), :selected => (@report.to_sym == :overview) %>
          <% end %>

          <%= btn_group t("health_checks.status.#{@status.to_sym}"), '#', :template => 'btn_menu' do |b| %>
            <% b.link_to t('health_checks.status.all'), health_checks_path(:status => 'all'), :selected => (@status.to_sym == :all) %>
            <% b.link_to t('health_checks.status.success'), health_checks_path(:status => 'success'), :selected => (@status.to_sym == :success) %>
            <% b.link_to t('health_checks.status.failure'), health_checks_path(:status => 'failure'), :selected => (@status.to_sym == :failure) %>
            <% b.link_to t('health_checks.status.enabled'), health_checks_path(:status => 'enabled'), :selected => (@status.to_sym == :enabled) %>
            <% b.link_to t('health_checks.status.disabled'), health_checks_path(:status => 'disabled'), :selected => (@status.to_sym == :selected) %>
          <% end %>

          <div class="btn-group pull-right">
            <a class="btn btn-default btn-small btn-flat" data-toggle="dropdown" href="#">
              <%= t('button.filter') %>
              <span class="caret"></span>
            </a>
  
            <div class="dropdown-menu">
              <%= render "/shared/filter", :url => health_checks_path(:report => params[:report]) %>
            </div>
          </div>
        </div>
      </div>

      <div class="box-body">
        <div id="checks">
          <%= render "list" %>
        </div>
      </div>
    </div>
  </div>
  <%= poll health_checks_path(:firefix => true), :element => 'checks' %>
</div>
