<% title t('.health_checks_for_site', :site => @site.name) %>

<div class="box">
  <div class="box-header">
    <div class="box-tools">
      <%= btn_group t("health_checks.report.#{@report}"), '#', :template => 'btn_menu' do |b| %>
        <% b.link_to t('health_checks.report.details'), account_site_health_checks_path(@account, @site, :report => 'details'), :selected => (@report.to_sym == :details) %>
        <% b.link_to t('health_checks.report.overview'), account_site_health_checks_path(@account, @site, :report => 'overview'), :selected => (@report.to_sym == :overview) %>
      <% end %>

      <%= btn_group t("health_checks.status.#{@status.to_sym}"), '#', :template => 'btn_menu' do |b| %>
        <% b.link_to t('health_checks.status.all'), account_site_health_checks_path(@account, @site, :status => 'all'), :selected => (@status.to_sym == :all) %>
        <% b.link_to t('health_checks.status.success'), account_site_health_checks_path(@account, @site, :status => 'success'), :selected => (@status.to_sym == :success) %>
        <% b.link_to t('health_checks.status.failure'), account_site_health_checks_path(@account, @site, :status => 'failure'), :selected => (@status.to_sym == :failure) %>
        <% b.link_to t('health_checks.status.enabled'), account_site_health_checks_path(@account, @site, :status => 'enabled'), :selected => (@status.to_sym == :enabled) %>
        <% b.link_to t('health_checks.status.disabled'), account_site_health_checks_path(@account, @site, :status => 'disabled'), :selected => (@status.to_sym == :selected) %>
      <% end %>

      <div class="btn-group pull-right">
        <a class="btn btn-default btn-small btn-flat" data-toggle="dropdown" href="#">
          <%= t('button.filter') %>
          <span class="caret"></span>
        </a>

        <div class="dropdown-menu">
          <%= render "/shared/filter", :url => account_site_health_checks_path(@account, @site, :report => params[:report]) %>
        </div>
      </div>
    </div>
    <%= render :partial => "/sites/tabs", :locals => { :selected => :health_checks } %>
  </div>

  <div class="box-body">
    <div id="checks">
      <%= render :partial => "list" %>
    </div>

    <% if current_user.can_create_health_checks?(@account) %>
      <p>
        <%= link_to t('.new_health_check'), new_account_site_health_check_path(@account, @site), :class => 'btn btn-default btn-small btn-flat' %>
        <%= link_to t('.new_from_template'), new_account_site_health_check_path(@account, @site, :template => 'select'), :class => 'btn btn-default btn-small btn-flat' %>
        <%= link_to t('.import'), new_account_site_health_check_import_path(@account, @site, :template => 'select'), :class => 'btn btn-default btn-small btn-flat' if current_user.can_create_health_check_imports?(@account) %>
      </p>
    <% end %>
  </div>
</div>
