<h2><%= t('.health_checks_for_site', :site => @site.name) %></h2>

<p>
  <%= link_to t('health_checks.report.details'), account_site_health_checks_path(@account, @site, :report => 'details') %> |
  <%= link_to t('health_checks.report.overview'), account_site_health_checks_path(@account, @site, :report => 'overview') %>
</p>

<%= auto_update 'checks' %>
<div id="checks">
  <%= render :partial => "list" %>
</div>

<p><%= link_to t('.new_health_check'), new_account_site_health_check_path(@account, @site) %></p>
