<h2><%= t('.health_checks_for_site', :site => @site.name) %></h2>

<p>
  <%= link_to 'Details', site_health_checks_path(@site, :report => 'details') %> |
  <%= link_to 'Overview', site_health_checks_path(@site, :report => 'overview') %>
</p>

<%= render :partial => "list" %>

<p><%= link_to t('.new_health_check'), new_site_health_check_path(@site) %></p>
