<h2><%= t('.health_checks_for_site', :site => @site.name) %></h2>

<%= render :partial => "/shared/filter", :locals => { :url => account_site_health_checks_path(@account, @site, :report => params[:report]) } %>

<p>
  <% action_list do |a| %>
    <% a.link_to t('health_checks.report.details'), account_site_health_checks_path(@account, @site, :report => 'details') %>
    <% a.link_to t('health_checks.report.overview'), account_site_health_checks_path(@account, @site, :report => 'overview') %>
  <% end %>
</p>

<%#= auto_update 'checks' %>
<div id="checks">
  <%= render :partial => "list" %>
</div>

<p>
  <%= link_to t('.new_health_check'), new_account_site_health_check_path(@account, @site) %> |
  <%= link_to t('.new_from_template'), new_account_site_health_check_path(@account, @site, :template => 'select') %>
</p>
