<% if @health_check_template %>
  <h2><%= t(".new_health_check_from_template", :template => @health_check_template.name) %></h2>
  
  <%= render :partial => "template_form" %>
  <%= render :partial => "preview" if @preview %>
<% elsif params[:template] %>
  <h2><%= t(".new_from_template") %></h2>
  
  <% tabs(:selected => (params[:filter] || :all).to_sym) do |a| %>
    <% a.tab :mine, t(".my_templates"), new_account_site_health_check_path(@account, @site, :template => 'select', :filter => 'mine') %>
    <% a.tab :account, t(".account_templates"), new_account_site_health_check_path(@account, @site, :template => 'select', :filter => 'account') %>
    <% a.tab :public, t(".public_templates"), new_account_site_health_check_path(@account, @site, :template => 'select', :filter => 'public') %>
    <% a.tab :all, t(".all_templates"), new_account_site_health_check_path(@account, @site, :template => 'select', :filter => 'all') %>
  <% end %>
  
  <%= render :partial => "/health_check_templates/select" %>
<% else %>
  <h2><%= t('.new_health_check_for_site', :site => @site.name) %></h2>
  
  <%= render :partial => "form" %>
<% end %>
