<h2><%= @health_check.name %></h2>

<%= render :partial => "tabs", :locals => { :selected => :information } %>

<dl>
  <dt><%= t('.description') %></dt>
  <dd>
    <%= simple_format auto_link(@health_check.description) unless @health_check.description.blank? %>
    <%= button_to t('.run'), account_site_health_check_check_runs_path(@account, @site, @health_check), :method => :post if current_user.can_run_health_checks?(@account) %>
  </dd>

  <dt><%= t('.interval') %></dt>
  <dd><%= t('.interval_minutes', :count => @health_check.interval) %></dd>

  <% if @health_check.last_check_run %>
    <dt><%= t('.last_check_run') %></dt>
    <dd><%= link_to status_icon(@health_check.last_check_run) + '&nbsp;'.html_safe + t("status.#{@health_check.last_check_run.status}"), account_site_health_check_check_run_path(@account, @site, @health_check, @health_check.last_check_run) %></dd>
  <% end %>

  <% if current_user.can_edit_health_checks?(@account) %>
    <% if @health_check.enabled? %>
      <dt><%= t('.check_is_enabled') %></dt>
      <dd><%= button_to t('.disable'), account_site_health_check_path(@account, @site, @health_check, :health_check => { :enabled => false }), :method => :put %></dd>
    <% else %>
      <dt><%= t('.check_is_disabled') %></dt>
      <dd><%= button_to t('.enable'), account_site_health_check_path(@account, @site, @health_check, :health_check => { :enabled => true }), :method => :put %></dd>
    <% end %>
  <% end %>
</dl>

<% if @health_check.enabled? %>
  <div id="graph" style="width: 100%; height: 300px; margin-bottom: 10px;"></div>

  <% check_runs = @health_check.recent_check_runs.reverse %>
  
  <script language="javascript" type="text/javascript">
    var base_url = "<%= account_site_health_check_check_runs_path(@account, @site, @health_check) %>";
    var d1 = <%= check_runs.collect { |run| [run.created_at.to_i * 1000, run.duration] }.to_json.html_safe %>;
    var ids = <%= check_runs.collect(&:id).to_json.html_safe %>;

    $(document).ready(function(){
      $.jqplot.eventListenerHooks.push(['jqplotClick', handleClick])
      $.jqplot('graph', [d1], {
        axesDefaults: {
          labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        },
        axes: {
          xaxis: {
            pad: 0,
            renderer:$.jqplot.DateAxisRenderer
          },
          yaxis: {
          }
        },
        highlighter: {
          show: true,
          sizeAdjust: 7.5
        },
        cursor: {
          show: false
        }
      });
    });
    function handleClick(ev, gridpos, datapos, neighbor, plot) {
      if (neighbor) {
        document.location.href = base_url + '/' + ids[neighbor.pointIndex];
      }
    }
  </script>
<% end %>

<h3><%= t('.comments', :count => @comments_count) %></h3>

<%= render :partial => "/comments/list" %>

<p><%= link_to t('.all_comments'), account_site_health_check_comments_path(@account, @site, @health_check) %></p>
