<h2><%= @health_check.name %></h2>

<dl>
  <dt><%= t('.description') %></dt>
  <dd>
    <%= simple_format @health_check.description %>
    <p>
      <% action_list do |a| %>
        <% a.link_to t('.check_runs'), account_site_health_check_check_runs_path(@account, @site, @health_check) %>
        <% if current_user.can_edit_health_checks?(@account) %>
          <% a.link_to t('.edit'), edit_account_site_health_check_path(@account, @site, @health_check) %>
          <% a.link_to t('.edit_steps'), account_site_health_check_steps_path(@account, @site, @health_check) %>
        <% else %>
          <% a.link_to t('.view_steps'), account_site_health_check_steps_path(@account, @site, @health_check) %>
        <% end %>
      <% end %>
    </p>
    <%= button_to t('.run'), account_site_health_check_check_runs_path(@account, @site, @health_check), :method => :post if current_user.can_run_health_checks?(@account) %>
  </dd>

  <dt><%= t('.interval') %></dt>
  <dd><%= t('.interval_minutes', :count => @health_check.interval) %></dd>

  <% if @health_check.last_check_run %>
    <dt><%= t('.last_check_run') %></dt>
    <dd><%= link_to status_icon(@health_check.last_check_run) + '&nbsp;' + t("status.#{@health_check.last_check_run.status}"), account_site_health_check_check_run_path(@account, @site, @health_check, @health_check.last_check_run) %></dd>
  <% end %>

  <% if current_user.can_edit_health_checks?(@account) %>
    <% if @health_check.enabled? %>
      <dt><%= t('.check_is_enabled') %></dt>
      <dd><%= button_to t('.disable'), account_site_health_check_path(@account, @site, @health_check, :health_check => { :enabled => false }), :method => :put %></dd>
    <% else %>
      <dt><%= t('.check_is_disabled') %></dt>
      <dd><%= button_to t('.enable'), account_site_health_check_path(@account, @site, @health_check, :health_check => { :enabled => true }), :method => :put %></dd>
    <% end %>
  <% end %>
</dl>

<p><%= image_tag account_site_health_check_check_runs_path(@account, @site, @health_check, :format => 'png') %></p>

<h3><%= t('.comments', :count => @comments_count) %></h3>

<%= render :partial => "/comments/list" %>

<p><%= link_to t('.all_comments'), account_site_health_check_comments_path(@account, @site, @health_check) %></p>
