<h2><%= t('.quick_links') %></h2>

<ul class="asterisk">
  <li><%= link_to t('.add_site'), new_site_path %></li>
</ul>

<h2><%= t('.recent_activity') %></h2>

<%= auto_update 'activity' %>
<div id="activity">
  <%= render :partial => "/check_runs/activity" %>
</div>
