<%= title t('.edit_users_profile', :full_name => @user.full_name) %>

<div class="box">
  <div class="box-body">
    <%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.error_messages :header_message => t('.could_not_update_user') %>

      <p>
        <%= f.label :full_name, t('.full_name'), :class => 'control-label required' %>
        <%= f.text_field :full_name, :class => 'form-control' %>
      </p>

      <p>
        <%= f.label :email, t('.email_address'), :class => 'control-label required' %>
        <%= f.text_field :email, :class => 'form-control' %>
        <small><%= t('.the_email_address_is_used_for_notifications') %></small>
      </p>

      <p>
        <%= f.submit t('.update'), :class => 'btn btn-primary btn-small btn-flat' %>
      </p>
    <% end %>
  </div>
</div>
