<h1><%= t('.listing_users') %></h1>

<% if @users.empty? %>
  <p><%= t('.there_are_no_user_accounts_yet') %></p>
  
  <p><%= link_to t('.signup'), new_user_path %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= t('.login_name') %></th>
        <th><%= t('.options') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.login, user_path(user) %></td>
          <td><%= link_to t('.edit'), edit_user_path(user) if current_user.can_edit_account?(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_user.can_create_accounts? %>
    <p><%= link_to t('.new_account'), new_user_path %></p>
  <% end %>
<% end %>
