<%= title t('.create_new_account') %>

<div class="box">
  <div class="box-body">
    <%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.error_messages :header_message => t('.could_not_register_user') %>

      <p>
        <%= f.label :full_name, t('.full_name'), :class => 'control-label required' %>
        <%= f.text_field :full_name, :class => 'form-control' %>
      </p>

      <p>
        <%= f.label :email, t('.email_address'), :class => 'control-label required' %>
        <%= f.text_field :email, :class => 'form-control' %>
        <small><%= t('.the_email_address_is_used_for_notifications') %></small>
      </p>

      <p>
        <%= f.label :password, t('.password'), :class => 'control-label required' %>
        <%= f.password_field :password, :class => 'form-control' %>
      </p>

      <p>
        <%= f.label :password_confirmation, t('.password_confirmation'), :class => 'control-label required' %>
        <%= f.password_field :password_confirmation, :class => 'form-control' %>
        <small><%= t('.please_repeat_the_password_exactly_as_above') %></small>
      </p>

      <p>
        <%= f.submit t('.create_account'), :class => 'btn btn-primary btn-small btn-flat' %>
        <% unless logged_in? %>
          <%= link_to t('.login_instead'), login_path, :class => 'btn btn-default btn-small btn-flat' %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
