<%= form_for [:admin, @footer_link], :html => { :class => 'form' } do |f| %>
  <%= f.error_messages :header_message => t('.could_not_create_footer_link') %>
  
  <p class="form_item">
    <span class="label"><%= f.label :text, t('.text') %></span>
    <%= f.text_field :text %>
  </p>

  <p class="form_item">
    <span class="label"><%= f.label :url, t('.url') %></span>
    <%= f.text_field :url %>
  </p>
  
  <p><%= f.submit t('.save_footer_link') %></p>
<% end %>
