<%= title t('.footer_links') %>

<div class="box">
  <div class="box-body">
    <% if @footer_links.empty? %>
      <p><%= t('.nothing_found') %></p>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th><%= t('.name') %></th>
            <th class="hidden-xs"><%= t('.url') %></th>
            <th><%= t('.options') %></th>
          </tr>
        </thead>
        <tbody id="links">
          <% @footer_links.each do |footer_link| %>
            <tr id="order_<%= footer_link.id %>">
              <td class="handle" title="<%= t('.drag_to_sort') %>">&nbsp;&#x2195;&nbsp;</td>
              <td><%= footer_link.text %></td>
              <td class="hidden-xs"><%= link_to footer_link.url, footer_link.url %></td>
              <td>
                <%= btn_group t('.edit'), edit_admin_footer_link_path(footer_link) do |b| %>
                  <% b.link_to t('.remove'), admin_footer_link_path(footer_link), :method => :delete, :data => { :confirm => t('.really_remove_footer_link') } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= javascript_tag <<-JS
      $('#links').sortable({
        update: function(event, ui) {
          $.ajax({ url: '#{sort_admin_footer_links_path}?authenticity_token=#{form_authenticity_token}', type: "POST", data: $('#links').sortable('serialize', { key: 'link[]' }) })
        }
      })
      JS
    %>

    <p><%= link_to t('.new_footer_link'), new_admin_footer_link_path, :class => 'btn btn-default btn-small btn-flat' %></p>
  </div>
</div>
