<% config.options.each do |option| %>
  <% next if option.type == 'Hash' %>
  <div class="control-group">
    <% if option.type == 'Boolean' %>
      <%= f.label option.key, translate_if_possible(option.name), :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box option.key %>
        <p><small><%= translate_if_possible(option.description) %></small></p>
      </div>
    <% else %>
      <%= f.label option.key, translate_if_possible(option.name), :class => 'control-label' %>

      <div class="controls">
        <% if option.values %>
          <%= f.select option.key, option.values.sort %>
        <% elsif option.type != 'Boolean' %>
          <%= f.text_field option.key %>
        <% end %>

        <p><small><%= translate_if_possible(option.description) %></small></p>
      </div>
    <% end %>
  </div>
<% end %>
