<% config.options.each do |option| %>
  <% next if option.type == 'Hash' %>
  <p>
    <% if option.type == 'Boolean' %>
      <%= f.check_box option.key %> <%= f.label option.key, translate_if_possible(option.name), :class => 'control-label' %><br/>
      <small><%= translate_if_possible(option.description) %></small>
    <% else %>
      <%= f.label option.key, translate_if_possible(option.name), :class => 'control-label' %>

      <% if option.values %>
        <%= f.select option.key, option.values.sort %>
      <% elsif option.type != 'Boolean' %>
        <%= f.text_field option.key, :class => 'form-control' %>
      <% end %>

      <small><%= translate_if_possible(option.description) %></small>
    <% end %>
  </p>
<% end %>
