<%= f.fields_for :variables, :child_index => child_index do |fields| %>
  <% variable_id = "variable_#{rand(1_000_000)}" %>
  <dl class="dl-horizontal" id="<%= variable_id %>">
    <%= fields.hidden_field :position, :class => 'position' %>
    <dt>
      <% if fields.object.new_record? %>
        &nbsp;
      <% else %>
        <span class="handle" title="<%= t('.drag_to_sort') %>">&nbsp;&#x2195;&nbsp;</span>
      <% end %>
    </dt>
    <dd>
      <% if fields.object.new_record? %>
        <%= link_to t(".remove"), '#', :id => "remove_#{variable_id}" %>
      <% else %>
        <%= fields.check_box '_destroy' %> <%= fields.label '_destroy', t(".delete") %>
      <% end %>
    </dd>

    <dt><%= fields.label :name, t(".name"), :class => 'control-label required' %></dt>
    <dd><%= fields.text_field :name %></dd>

    <dt><%= fields.label :display_name, t(".display_name"), :class => 'control-label required' %></dt>
    <dd><%= fields.text_field :display_name %></dd>

    <dt><%= fields.label :description, t(".description") %></dt>
    <dd><%= fields.text_field :description %></dd>

    <dt><%= fields.label :type, t(".type"), :class => 'control-label required' %></dt>
    <dd><%= fields.select :type, HealthCheckTemplateVariable.available_types_with_translations %></dd>

    <dt><%= fields.label :required, t(".required") %></dt>
    <dd><%= fields.check_box :required %></dd>
  </dl>
  <%= javascript_tag <<-JS
    $('#remove_#{variable_id}').click(function(event) {
      $('##{variable_id}').remove()
      event.preventDefault()
    })
    JS
  %>
<% end %>

<div id="replace-variable">
  <p><%= link_to t('.new_variable'), new_health_check_template_variable_path(:sequence => child_index.nil? ? @health_check_template.variables.size : child_index.to_i + 1), :method => :get, :remote => true %></p>
</div>
