<%= form_for [:admin, @broadcast], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages :header_message => t('.could_not_create_broadcast') %>
  
  <div class="control-group">
    <%= f.label :title, t('.title'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :text, t('.text'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text, :class => 'form-control' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.save_broadcast'), :class => 'btn btn-primary btn-small btn-flat' %>
    </div>
  </div>
<% end %>
