<%= title t('.broadcasts') %>

<div class="box">
  <div class="box-body">
    <% if @broadcasts.empty? %>
      <p><%= t('.nothing_found') %></p>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t('.title') %></th>
            <th class="hidden-phone"><%= t('.sent_at') %></th>
            <th><%= t('.options') %></th>
          </tr>
        </thead>
        <tbody id="links">
          <% @broadcasts.each do |broadcast| %>
            <tr>
              <td><%= link_to broadcast.title, admin_broadcast_path(broadcast) %></td>
              <td class="hidden-phone"><%= time_ago_in_words broadcast.sent_at if broadcast.sent_at %></td>
              <td>
                <% if broadcast.sent_at %>
                  <%= link_to t('.remove'), admin_broadcast_path(broadcast), :method => :delete, :data => { :confirm => t('.really_remove_broadcast') }, :class => 'btn btn-default btn-sm btn-flat' %>
                <% else %>
                  <%= btn_group t('.edit'), edit_admin_broadcast_path(broadcast) do |b| %>
                    <% b.link_to t('.send'), deliver_admin_broadcast_path(broadcast), :method => :post, :data => { :confirm => t('admin.broadcasts.really_send_broadcast') } %>
                    <% b.link_to t('.remove'), admin_broadcast_path(broadcast), :method => :delete, :data => { :confirm => t('.really_remove_broadcast') } %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <p><%= link_to t('.new_broadcast'), new_admin_broadcast_path, :class => 'btn btn-default btn-small btn-flat' %></p>
  </div>
</div>
