<p>
  <%= f.label :name, t('.selector'), :class => 'control-label required' %>
  <%= f.text_field :name, :class => 'form-control' %>
  <p><small><%= t('.selector') %></small></p>
</p>

<p>
  <%= f.text_field :mincount, :class => 'form-control' %>
  <small><%= t('.mincount') %></small>
</p>

<p>
  <%= f.text_field :maxcount, :class => 'form-control' %>
  <small><%= t('.maxcount') %></small>
</p>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
