<p class="form_item">
  <span class="label"><%= f.label :server, t('.server'), :class => 'required' %></span>
  <%= f.text_field :server %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :login, t('.login'), :class => 'required' %></span>
  <%= f.text_field :login %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :password, t('.password'), :class => 'required' %></span>
  <%= f.password_field :password %>
</p>

<%= render :partial => "/steps/check_email_warning" %>