<p>
  <%= f.label :url, t('.url'), :class => 'control-label required' %>
  <%= f.text_field :url, :class => 'form-control' %>
  <small><%= t('.absolute_url') %></small>
</p>

<p>
  <%= f.check_box :negate %>
  <%= f.label :negate, t('.negate'), :class => 'control-label required' %>
</p>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
