<div class="control-group">
  <%= f.label :server, t('.server'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :server %>
  </div>
</div>

<div class="control-group">
  <%= f.label :login, t('.login'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :login %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password, t('.password'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.password_field :password %>
  </div>
</div>

<%= render :partial => "/steps/check_email_warning" %>