<div class="control-group">
  <%= f.label :content, t('.content'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :content, :class => 'form-control' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :negate, t('.negate'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.check_box :negate %>
  </div>
</div>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
