<p>
  <%= f.label :server, t('.server'), :class => 'control-label required' %>
  <%= f.text_field :server, :class => 'form-control' %>
</p>

<p>
  <%= f.label :login, t('.login'), :class => 'control-label required' %>
  <%= f.text_field :login, :class => 'form-control' %>
</p>

<p>
  <%= f.label :password, t('.password'), :class => 'control-label required' %>
  <%= f.password_field :password, :class => 'form-control' %>
</p>

<%= render :partial => "/steps/check_email_warning" %>