<div class="control-group">
  <%= f.label :name, t('.name'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :name %>
    <p><small><%= t('.name_specifying_radio_button') %></small></p>
  </div>
</div>

<%= render :partial => "/steps/scope_field", :locals => { :f => f } %>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
