<p class="form_item">
  <span class="label"><%= f.label :name, t('.name'), :class => 'required' %></span>
  <span class="desc"><%= t('.name_specifying_link') %></span>
  <%= f.text_field :name %>
</p>

<%= render :partial => "scope_field", :locals => { :f => f } %>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
