<p>
  <%= f.label :field, t('.field'), :class => 'control-label required' %>
  <%= f.text_field :field, :class => 'form-control' %>
  <small><%= t('.name_specifying_field') %></small>
</p>

<p>
  <%= f.label :value, t('.value'), :class => 'control-label' %>
  <%= f.text_field :value, :class => 'form-control' %>
</p>

<p><%= t('steps.page_must_be_loaded_before_this_step') %></p>
