<% form_for [@account, @site, @health_check, step], :url => step.new_record? ? account_site_health_check_steps_path(@account, @site, @health_check) : account_site_health_check_step_path(@account, @site, @health_check, step) do |f| %>
  <% if step.class.name == 'Step' %>
    <p class="form_item">
      <span class="label"><%= f.label :type, t('.type') %></span>
      <%= select_tag :type, options_for_select([[t('.please_select'), 'nothing']] + Step.available_types), :onchange => "if (this.value != 'nothing') { new Ajax.Updater('new_step_container', #{new_account_site_health_check_step_path(@account, @site, @health_check).inspect}, { method: 'get', parameters: { type: this.value } }) }" %>
    </p>
  <% else %>
    <% if step.new_record? %>
      <p class="form_item">
        <span class="label"><%= f.label :type, t('.type') %></span>
        <%= select_tag :type, options_for_select(Step.available_types, :selected => step.class.name.underscore.gsub('_step', '')), :onchange => "if (this.value != 'nothing') { new Ajax.Updater('new_step_container', #{new_account_site_health_check_step_path(@account, @site, @health_check).inspect}, { method: 'get', parameters: { type: this.value } }) }" %><br/>
      </p>
    <% end %>

    <%= render_step_form(f, step) %>

    <p>
      <%= f.submit t('.save') %> |
      <%= link_to t('.cancel'), request.referer %>
    </p>
  <% end %>
<% end %>
