<% title t('.steps_for_health_check', :health_check => @health_check.name) %>

<div class="box">
  <div class="box-header">
    <div class="box-tools">
      <%= render :partial => "/health_checks/tabs", :locals => { :selected => :steps } %>
    </div>
  </div>

  <div class="box-body">
    <% if @steps.empty?  %>
      <p><%= t('.no_steps_defined') %></p>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="hidden-xs">&nbsp;</th>
            <th><%= t('.name') %></th>
            <th class="hidden-xs"><%= t('.details') %></th>
            <% if current_user.can_edit_health_checks?(@account) %>
              <th class="options"><%= t('.options') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody id="steps">
          <% @steps.each_with_index do |step, i| %>
            <tr id="order_<%= step.id %>">
              <% if current_user.can_edit_health_checks?(@account) %>
                <td class="handle hidden-xs" title="<%= t('.drag_to_sort') %>">&nbsp;&#x2195;&nbsp;</td>
              <% else %>
                <td class="hidden-xs"><%= i + 1 %></td>
              <% end %>
              <td><%= t("step.#{step.underscored_class_name}") %></td>
              <% if step.new_record? %>
                <td class="hidden-xs">
                  <%= render :partial => '/steps/form', :locals => { :step => step } %>
                </td>
                <td>
                </td>
              <% else %>
                <td class="hidden-xs">
                  <div id="step_<%= step.id %>"><%= render_step_details(step) %></div>
                </td>
                <% if current_user.can_edit_health_checks?(@account) %>
                  <td class="options">
                    <%= btn_group t('.edit'), edit_account_site_health_check_step_path(@account, @site, @health_check, step), :remote => true do |b| %>
                      <% b.link_to t('.copy'), new_account_site_health_check_step_path(@account, @site, @health_check, :clone => step) %>
                      <% b.link_to t('.delete'), account_site_health_check_step_path(@account, @site, @health_check, step), :method => :delete, :data => { :confirm => t('.are_you_sure') } %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if current_user.can_edit_health_checks?(@account) %>
      <%= javascript_tag <<-JS
        $('#steps').sortable({
          update: function(event, ui) {
            $.ajax({ url: '#{sort_account_site_health_check_steps_path(@account, @site, @health_check)}?authenticity_token=#{form_authenticity_token}', type: "POST", data: $('#steps').sortable('serialize', { key: 'step[]' }) })
          }
        })
        JS
      %>

      <div class="well">
        <h3><%= t('.add_step') %></h3>
        <%= render :partial => "/steps/form", :locals => { :step => @step || Step.new } %>
      </div>
    <% end %>
  </div>
</div>
