<h2>Steps for Health Check <%= @health_check.name %></h2>

<% if @steps.empty?  %>
  <p>No steps defined.</p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @steps.each do |step| %>
        <tr>
          <td><%= step.class.name.gsub(/Step$/, '').titleize %></td>
          <td><%= render_step_details(step) %></td>
          <td>
            <%= link_to 'Edit', edit_site_health_check_step_path(@site, @health_check, step) %> |
            <%= link_to 'Delete', site_health_check_step_path(@site, @health_check, step), :method => :delete, :confirm => 'Are you sure?' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3>Add Step</h3>

<div id="new_step_container">
  <%= render :partial => "/steps/form", :locals => { :step => Step.new } %>
</div>
