<%= will_paginate @users %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th class="hidden-phone"><%= t('.email') %></th>
      <th><%= t('.accounts') %></th>
      <th><%= t('.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to highlight(user.full_name, @search_filter.query), user_path(user) %></td>
        <td class="hidden-phone"><%= mail_to user.email, highlight(user.email, @search_filter.query) %></td>
        <td><%= user.accounts.count %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
