<%= f.error_messages :header_message => t('.could_not_import') %>

<%= f.hidden_field :health_check_template_id %>

<div class="control-group">
  <%= f.label :description, t('.description'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :description %>
  </div>
</div>

<div class="control-group">
  <%= f.label :csv_data, t('.csv_data'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_area :csv_data, :cols => 80, :style => 'font-family: "Courier New", Courier, monospace' %>
  </div>
</div>

<p>
  <%= f.submit t('.preview'), :class => 'btn' %>
  <%= f.submit t(".import"), :class => 'btn' if @preview %>
</p>
