<%= f.error_messages :header_message => t('.could_not_import') %>

<%= f.hidden_field :health_check_template_id %>

<p>
  <%= f.label :description, t('.description'), :class => 'control-label' %>
  <%= f.text_field :description, :class => 'form-control' %>
</p>

<p>
  <%= f.label :csv_data, t('.csv_data'), :class => 'control-label required' %>
  <%= f.text_area :csv_data, :class => 'form-control enter-code' %>
</p>

<p>
  <%= f.submit t('.preview'), :class => 'btn btn-default btn-small btn-flat' %>
  <%= f.submit t(".import"), :class => 'btn btn-primary btn-small btn-flat' if @preview %>
</p>
