<h2><%= t(".new_import") %></h2>

<p><%= t(".instructions") %></p>

<p><%= t(".field_names", :fields => @health_check_import.headers.map(&:display_name).join(', ')) %></p>

<% if @preview %>
  <h3><%= t(".preview") %></h3>
  
  <table class="list">
    <thead>
      <tr>
        <% @health_check_import.headers.each do |header| %>
          <th><%=h header.display_name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @health_check_import.rows.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td><%=h cell %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% form_for [@account, @site, @health_check_import] do |f| %>
  <%= f.error_messages :header_message => t('.could_not_import') %>
  
  <%= f.hidden_field :health_check_template_id %>
  
  <p class="form_item">
    <span class="label"><%= f.label :description, t('.description') %></span>
    <%= f.text_field :description %>
  </p>
  
  <p class="form_item">
    <span class="label"><%= f.label :csv_data, t('.csv_data') %></span>
    <%= f.text_area :csv_data, :cols => 110, :style => 'font-family: "Courier New", Courier, monospace' %>
  </p>
  
  <p>
    <%= f.submit t('.preview') %>
    <%= f.submit t(".import") if @preview %>
  </p>
<% end %>
