<h3><%= t(".about_the_template") %></h3>

<p class="form_item">
  <span class="label"><%= f.label :name, t('.name'), :class => 'required' %></span>
  <span class="desc"><%= t(".template_name") %></span>
  <%= f.text_field :name %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :description, t(".description") %></span>
  <span class="desc"><%= t(".describe_the_template") %></span>
  <%= f.text_area :description, :rows => 5 %>
</p>

<p class="form_item">
  <%= f.check_box :public %>
  <span class="check-box-label"><%= f.label :public, t(".public") %></span>
  <span class="desc"><%= t(".who_can_see_and_use_this_template") %></span>
</p>

<h3><%= t(".template_variables") %></h3>

<div id="variables">
  <%= render "/health_check_template_variables/form", :f => f, :child_index => nil %>
</div>

<%= javascript_tag %{
  $('#variables').sortable({
    update: function(event, ui) {
      var i = 1;
      var sequence = $('#variables').sortable('serialize', { key: 'x' })
      $.each(sequence.split("&"), function(index, element) {
        var id = element.split("=")[1];
        $("#variable_" + id + " input.position").val(i++);
      })
    }
  })
} %>

<h3><%= t(".health_check_fields") %></h3>

<p class="form_item">
  <span class="label"><%= f.label :name_template, t(".name_template"), :class => 'required' %></span>
  <span class="desc"><%= t(".template_for_health_check_name") %></span>
  <%= f.text_field :name_template %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :description_template, t(".description_template") %></span>
  <span class="desc"><%= t(".template_for_health_check_description") %></span>
  <%= f.text_area :description_template, :rows => 5 %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :interval, t(".interval"), :class => 'required' %></span>
  <span class="desc"><%= t(".interval_for_generated_health_checks") %></span>
  <%= f.select :interval, HealthCheck.intervals_with_units %>
</p>

<h3><%= t(".steps") %></h3>

<div id="steps">
  <%= render :partial => "/health_check_template_steps/form", :locals => { :f => f, :child_index => nil } %>
</div>

<%= javascript_tag %{
  $('#steps').sortable({
    update: function(event, ui) {
      var i = 1;
      var sequence = $('#steps').sortable('serialize', { key: 'x' })
      $.each(sequence.split("&"), function(index, element) {
        var id = element.split("=")[1];
        $("#step_" + id + " input.position").val(i++);
      })
    }
  })
} %>

<p><%= f.submit t('.save_template') %></p>
