<h3><%= t(".about_the_template") %></h3>

<div class="control-group">
  <%= f.label :name, t('.name'), :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'form-control' %>
    <p><small><%= t(".template_name") %></small></p>
  </div>
</div>

<div class="control-group">
  <%= f.label :description, t(".description"), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :description, :rows => 5, :class => 'form-control'%>
    <p><small><%= t(".describe_the_template") %></small></p>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.check_box :public, :class => 'form-control' %>
    <p><small><%= t(".who_can_see_and_use_this_template") %></small></p>
  </div>
</div>

<h3><%= t(".template_variables") %></h3>

<div id="variables">
  <%= render "/health_check_template_variables/form", :f => f, :child_index => nil %>
</div>

<%= javascript_tag %{
  $('#variables').sortable({
    update: function(event, ui) {
      var i = 1;
      var sequence = $('#variables').sortable('serialize', { key: 'x' })
      $.each(sequence.split("&"), function(index, element) {
        var id = element.split("=")[1];
        $("#variable_" + id + " input.position").val(i++);
      })
    }
  })
} %>

<h3><%= t(".health_check_fields") %></h3>

<div class="control-group">
  <%= f.label :name_template, t(".name_template"), :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :name_template, :class => 'form-control' %>
    <p><small><%= t(".template_for_health_check_name") %></small></p>
  </div>
</div>

<div class="control-group">
  <%= f.label :description_template, t(".description_template"), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :description_template, :rows => 5, :class => 'form-control' %>
    <p><small><%= t(".template_for_health_check_description") %></small></p>
  </div>
</div>

<div class="control-group">
  <%= f.label :interval, t(".interval"), :class => 'control-label required' %>
  <div class="controls">
    <%= f.select :interval, HealthCheck.intervals_with_units, :class => 'form-control' %>
    <p><small><%= t(".interval_for_generated_health_checks") %></small></p>
  </div>
</div>

<h3><%= t(".steps") %></h3>

<div id="steps">
  <%= render :partial => "/health_check_template_steps/form", :locals => { :f => f, :child_index => nil } %>
</div>

<%= javascript_tag %{
  $('#steps').sortable({
    update: function(event, ui) {
      var i = 1;
      var sequence = $('#steps').sortable('serialize', { key: 'x' })
      $.each(sequence.split("&"), function(index, element) {
        var id = element.split("=")[1];
        $("#step_" + id + " input.position").val(i++);
      })
    }
  })
} %>

<div class="control-group">
  <div class="controls">
    <%= f.submit t('.save_template'), :class => 'btn' %>
  </div>
</div>
