<h3><%= t(".about_the_template") %></h3>

<p>
  <%= f.label :name, t('.name'), :class => 'control-label required' %>
  <%= f.text_field :name, :class => 'form-control' %>
  <small><%= t(".template_name") %></small>
</p>

<p>
  <%= f.label :description, t(".description"), :class => 'control-label' %>
  <%= f.text_area :description, :rows => 5, :class => 'form-control' %>
  <small><%= t(".describe_the_template") %></small>
</p>

<p>
  <%= f.check_box :public %> <%= f.label :public, t(".who_can_see_and_use_this_template") %>
</p>

<h3><%= t(".template_variables") %></h3>

<div id="variables">
  <%= render "/health_check_template_variables/form", :f => f, :child_index => nil %>
</div>

<%= javascript_tag <<-JS
  $('#variables').sortable({
    update: function(event, ui) {
      var i = 1;
      var sequence = $('#variables').sortable('serialize', { key: 'x' })
      $.each(sequence.split("&"), function(index, element) {
        var id = element.split("=")[1];
        $("#variable_" + id + " input.position").val(i++);
      })
    }
  })
  JS
%>

<h3><%= t(".health_check_fields") %></h3>

<p>
  <%= f.label :name_template, t(".name_template"), :class => 'control-label required' %>
  <%= f.text_field :name_template, :class => 'form-control' %>
  <small><%= t(".template_for_health_check_name") %></small>
</p>

<p>
  <%= f.label :description_template, t(".description_template"), :class => 'control-label' %>
  <%= f.text_area :description_template, :rows => 5, :class => 'form-control' %>
  <small><%= t(".template_for_health_check_description") %></small>
</p>

<p>
  <%= f.label :interval, t(".interval"), :class => 'control-label required' %>
  <%= f.select :interval, HealthCheck.intervals_with_units, :class => 'form-control' %>
  <small><%= t(".interval_for_generated_health_checks") %></small>
</p>

<h3><%= t(".steps") %></h3>

<div id="steps">
  <%= render :partial => "/health_check_template_steps/form", :locals => { :f => f, :child_index => nil } %>
</div>

<%= javascript_tag %{
  $('#steps').sortable({
    update: function(event, ui) {
      var i = 1;
      var sequence = $('#steps').sortable('serialize', { key: 'x' })
      $.each(sequence.split("&"), function(index, element) {
        var id = element.split("=")[1];
        $("#step_" + id + " input.position").val(i++);
      })
    }
  })
} %>

<p>
  <%= f.submit t('.save_template'), :class => 'btn btn-primary btn-small btn-flat' %>
</p>
