<% title t(".my_templates") %>

<div class="box">
  <div class="box-body">
    <% if @health_check_templates.empty? %>
      <p><%= t(".nothing_found") %></p>
    <% else %>
      <table class="table table-bordered table-striped dataTable">
        <thead>
          <tr>
            <th><%= t(".name") %></th>
            <th><%= t(".options") %></th>
          </tr>
        </thead>
        <tbody>
          <% @health_check_templates.each do |health_check_template| %>
            <tr>
              <td><%= link_to health_check_template.name, edit_health_check_template_path(health_check_template) %></td>
              <td>
                <%= btn_group t(".edit"), edit_health_check_template_path(health_check_template) do |b| %>
                  <% b.link_to t(".delete"), health_check_template_path(health_check_template), :method => :delete, :data => { :confirm => t(".really_delete_template") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <p><%= link_to t(".new_health_check_template"), new_health_check_template_path, :class => 'btn btn-default btn-small btn-flat' %></p>
  </div>
</div>
