<%= title t(".mark_deploment_of_site", :site => @site.name) %>

<div class="box">
  <div class="box-body">
    <%= form_for [@account, @site, @deployment], :html => { :class => 'form-horizontal' } do |f| %>
      <p>
        <%= f.label :revision, t(".revision"), :class => 'control-label' %>
        <%= f.text_field :revision, :class => 'form-control' %>
        <small><%= t(".optional_revision_number") %></small>
      </p>

      <p>
        <%= f.label :schedule_checks_in, t(".schedule_checks_in"), :class => 'control-label' %>
        <%= f.text_field :schedule_checks_in, :class => 'form-control' %>
        <small><%= t(".when_to_schedule_checks_in") %></small>
      </p>

      <p>
        <%= f.submit t(".mark_deployment"), :class => 'btn btn-primary btn-small btn-flat' %>
      </p>
    <% end %>
  </div>
</div>
