<% form_for [@account, @site] do |f| %>
  <p class="form_item">
    <span class="label"><%= f.label :name, t('.name') %></span>
    <%= f.text_field :name %>
  </p>

  <p class="form_item">
    <span class="label"><%= f.label :url, t('.url') %></span>
    <%= f.text_field :url %>
  </p>
  
  <%= f.submit %>
<% end %>
