<%= form_for [@account, @site], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages :header_message => t('.could_not_create_site') %>
  
  <p>
    <%= f.label :name, t('.name'), :class => 'control-label required' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :url, t('.url'), :class => 'control-label required' %>
    <%= f.text_field :url, :class => 'form-control' %>
  </p>

  <p>
      <%= f.label :slack_enabled, t('.send_slack_notification'), :class => 'control-label required' %><br/>
      <%= f.check_box :slack_enabled, :class => 'form-control' %>
  </p>

  <p>
      <%= f.label :slack_team, t('.slack_team'), :class => 'control-label' %>
      <%= f.text_field :slack_team, :class => 'form-control' %>
  </p>

  <p>
      <%= f.label :slack_token, t('.slack_token'), :class => 'control-label' %>
      <%= f.text_field :slack_token, :class => 'form-control' %>
  </p>

  <p>
    <%= f.submit t('.save_site'), :class => 'btn btn-primary btn-small btn-flat' %>
  </p>
<% end %>
