<% if @sites.empty? %>
  <p><%= t('.no_sites_found') %></p>
<% else %>
  <table class="table table-bordered dataTable">
    <thead>
      <tr>
        <th class="status hidden-xs"><%= t(".status") %></td>
        <th><%= t('.name') %></th>
        <% if current_user.can_edit_sites?(@account) %>
          <th class="options hidden-xs"><%= t('.options') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr class="<%= status_class(site) %>">
          <td class="hidden-xs"><%= status_icon(site) %></td>
          <td><%= link_to highlight(site.name, @search_filter.query), account_site_health_checks_path(site.account, site) %></td>
          <% if current_user.can_edit_sites?(@account) %>
            <td class="options hidden-xs">
              <%= btn_group t('.edit'), edit_account_site_path(site.account, site) do |b| %>
                <% b.link_to t('.delete'), account_site_path(site.account, site), :method => :delete, :data => { :confirm => t('.confirm_delete') } if current_user.can_delete_sites?(@account) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
