<h2><%= t('.all_sites') %></h2>

<% if @sites.empty? %>
  <p><%= t('.no_sites_configured') %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.options') %></th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= link_to site.name, site_health_checks_path(site) %></td>
          <td>
            <%= link_to t('.edit'), edit_site_path(site) %> |
            <%= link_to t('.delete'), site_path(site), :method => :delete, :confirm => t('.confirm_delete') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p><%= link_to t('.new_site'), new_site_path %></p>
