<h2><%= t('.all_sites') %></h2>

<% if @sites.empty? %>
  <p><%= t('.no_sites_configured') %></p>
<% else %>
  <%= render :partial => "/shared/filter", :locals => { :url => account_sites_path(@account) } %>
  
  <div id="sites">
    <%= render :partial => "index" %>
  </div>
<% end %>

<% if current_user.can_create_sites?(@account) %>
  <p><%= link_to t('.new_site'), new_account_site_path(@account) %></p>
<% end %>
