<h2><%= t('.site', :site => @site.name) %></h2>

<%= render :partial => "tabs", :locals => { :selected => :information } %>

<dl class="dl-horizontal">
  <dt><%= t(".status") %></dt>
  <dd><%= overall_status(@site) %></dd>
  
  <dt><%= t(".base_url") %></dt>
  <dd><%= link_to h(@site.url), @site.url %></dd>
  
  <dt><%= t(".deployment") %></dt>
  <dd>
    <% if @site.current_deployment %>
      <p><%= link_to deployment_title(@site.current_deployment), account_site_deployment_path(@account, @site, @site.current_deployment) %></p>
    <% end %>

    <% if current_user.can_see_deployment_tokens?(@account) %>
      <form>
        <span><%= t(".token") %></span><br/>
        <%= text_field_tag nil, @site.deployment_token, :class => 'copy' %>
      </form><br/>
      <form>
        <span><%= t(".deployment_url") %></span><br/>
        <%= text_field_tag nil, mark_deployment_url(:token => @site.deployment_token), :class => 'copy' %>
      </form>
    <% end %>
  </dd>
</dl>

<% if current_user.can_edit_sites?(@account) %>
  <p><%= link_to t(".edit_site"), edit_account_site_path(@account, @site) %></p>
<% end %>
