<% if @check_runs.empty? %>
  <p><%= t('.no_activity_yet') %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= t('.status') %></th>
        <th><%= t('.when') %></th>
        <th><%= t('.duration') %></th>
        <th><%= t('.site') %></th>
        <th><%= t('.health_check') %></th>
      </tr>
    </thead>
    <tbody>
      <% @check_runs.each do |check_run| %>
        <tr>
          <td><%= status_icon check_run %></td>
          <td><%= link_to t(".time_ago", :when => time_ago_in_words(check_run.created_at)), account_site_health_check_check_run_path(check_run.health_check.site.account, check_run.health_check.site, check_run.health_check, check_run) %></td>
          <td><%= t(".duration_in_seconds", :duration => "%5.1f" % check_run.duration) %></td>
          <td><%= link_to check_run.health_check.site.name, account_site_health_checks_path(check_run.health_check.site.account, check_run.health_check.site) %></td>
          <td><%= link_to check_run.health_check.name, account_site_health_check_path(check_run.health_check.site.account, check_run.health_check.site, check_run.health_check) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
