<% if @check_runs.empty? %>
  <p><%= t('.no_activity_yet') %></p>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <ul class="timeline">
        <% @check_runs.each do |check_run| %>
          <li style="margin-bottom:10px;">
            <i class="fa fa-<%= status_icon_class check_run %> bg-<%= status_background check_run %>"></i>

            <div class="timeline-item no-padding">
              <span class="time">
                <%= link_to %{<i class="fa fa-clock-o"></i>}.html_safe, account_site_health_check_check_run_path(check_run.health_check.site.account, check_run.health_check.site, check_run.health_check, check_run) %>
                <%= link_to time_ago_in_words(check_run.created_at), account_site_health_check_check_run_path(check_run.health_check.site.account, check_run.health_check.site, check_run.health_check, check_run), :class => 'hidden-xs' %>
              </span>

              <div class="timeline-body no-padding">
                <%= link_to check_run.health_check.site.name, account_site_health_checks_path(check_run.health_check.site.account, check_run.health_check.site) %>
                /
                <%= link_to check_run.health_check.name, account_site_health_check_path(check_run.health_check.site.account, check_run.health_check.site, check_run.health_check) %>
                |
                <%= link_to t('.info'), account_site_health_check_check_run_path(check_run.health_check.site.account, check_run.health_check.site, check_run.health_check, check_run) %>
              </div>
            </div>
          </li>
        <% end %>
        <li>
          <i class="fa fa-clock-o"></i>
        </li>
      </ul>
    </div>
  </div>

  <%= will_paginate @check_runs if @check_runs.respond_to?(:total_pages) %>
<% end %>
