<% if @check_runs.empty? %>
  <p><%= t('.no_activity_yet') %></p>
<% else %>
  <%= will_paginate @check_runs if @check_runs.respond_to?(:total_pages) %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="hidden-phone"><%= t('.status') %></th>
        <th><%= t('.when') %></th>
        <th><%= t('.name') %></th>
        <th class="hidden-phone"><%= t('.duration') %></th>
      </tr>
    </thead>
    <tbody>
      <% @check_runs.each do |check_run| %>
        <tr class="<%= status_class check_run %>">
          <td class="hidden-phone"><%= status_icon check_run %></td>
          <td><%= link_to t(".time_ago", :when => time_ago_in_words(check_run.created_at)), account_site_health_check_check_run_path(check_run.health_check.site.account, check_run.health_check.site, check_run.health_check, check_run) %></td>
          <td>
            <%= link_to check_run.health_check.site.name, account_site_health_checks_path(check_run.health_check.site.account, check_run.health_check.site) %> /
            <%= link_to check_run.health_check.name, account_site_health_check_path(check_run.health_check.site.account, check_run.health_check.site, check_run.health_check) %>
          </td>
          <td class="hidden-phone"><%= t(".duration_in_seconds", :duration => "%5.1f" % check_run.duration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @check_runs if @check_runs.respond_to?(:total_pages) %>
<% end %>
