<h2><%= t('.check_runs_of_health_check_site', :health_check => @health_check.name, :site => @site.name) %></h2>

<%= render :partial => "/health_checks/tabs", :locals => { :selected => :check_runs } %>

<%= form_for :check_run_filter, :url => account_site_health_check_check_runs_path(@account, @site, @health_check), :html => { :method => :get, :class => 'filter' } do |f| %>
  <%= t(".from") %> <%= f.date_select :start_date %>
  <%= t(".until") %> <%= f.date_select :end_date %>
  <%= f.submit t(".filter") %>
  <% if params[:check_run_filter] %>
    <%= link_to t(".reset_filter"), account_site_health_check_check_runs_path(@account, @site, @health_check) %>
    <span class="info"><%= t(".filter_active") %></span>
  <% end %>
<% end %>

<%= auto_update 'activity' %>
<div id="activity">
  <%= render :partial => "/check_runs/activity" %>
</div>
