<h2><%= t('.check_run_of_health_check_site', :health_check => @health_check.name, :site => @site.name) %></h2>

<% if @check_run.status.blank? %>
  <p><%= t('.running') %> <%= image_tag 'spinner.gif' %></p>
  <%= javascript_tag 'window.setTimeout(function() { location.reload() }, 1000)' %>
<% else %>
  <dl>
    <dt><%= t('.status') %></dt>
    <dd><%= status_icon @check_run %> <%= t("status.#{@check_run.status}") %></dd>

    <dt><%= t('.duration') %></dt>
    <dd><%= t('.duration_in_seconds', :seconds => "%5.1f" % @check_run.duration) %></dd>
    
    <% if @check_run.user %>
      <dt><%= t(".started_by") %></dt>
      <dd><%= link_to @check_run.user.full_name, user_path(@check_run.user) %>
    <% end %>

    <% if @check_run.deployment %>
      <dt><%= t(".deployment") %></dt>
      <dd><%= link_to deployment_title(@check_run.deployment), account_site_deployment_path(@account, @site, @check_run.deployment) %>
    <% end %>

    <% if @check_run.error_message %>
      <dt><%= t('.error_message') %></dt>
      <dd><%=h @check_run.error_message %></dd>
    <% end %>
  </dl>

  <h3><%= t('.log_output') %></h3>

  <table class="list">
    <thead>
      <tr>
        <th><%= t('.time') %></th>
        <th><%= t('.message') %></th>
      </tr>
    </thead>
    <tbody>
      <% @check_run.log.each do |time, message| %>
        <tr>
          <td><%= l(time, :format => :log) %></td>
          <td><%= format_log_message message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% unless @screenshots.empty? %>
  <h3><%= t('.screenshots') %></h3>
  
  <%= render :partial => "/screenshots/list" %>
<% end %>

<% unless @screenshot_comparisons.empty? %>
  <h3><%= t('.screenshot_comparisons') %></h3>
  
  <%= render :partial => "/screenshot_comparisons/list" %>
<% end %>

<h3><%= t('.comments', :count => @comments_count) %></h3>

  <%= render :partial => "/comments/list" %>

  <p><%= link_to t('.all_comments'), account_site_health_check_check_run_comments_path(@account, @site, @health_check, @check_run) %></p>

  <% if current_user.can_create_comments?(@account) %>
    <h3><%= t('.leave_a_comment') %></h3>

    <%= render :partial => "/comments/form" %>
  <% end %>
<% end %>