<h2><%= t('.check_run_of_health_check_site', :health_check => @health_check.name, :site => @site.name) %></h2>

<dl>
  <dt><%= t('.status') %></dt>
  <dd><%= status_icon @check_run %> <%= t("status.#{@check_run.status}") %></dd>

  <dt><%= t('.duration') %></dt>
  <dd><%= t('.duration_in_seconds', :seconds => "%5.1f" % @check_run.duration) %></dd>

  <% if @check_run.error_message %>
    <dt><%= t('.error_message') %></dt>
    <dd><%= @check_run.error_message %></dd>
  <% end %>
</dl>

<h3><%= t('.log_output') %></h3>

<table class="list">
  <thead>
    <tr>
      <th><%= t('.time') %></th>
      <th><%= t('.message') %></th>
    </tr>
  </thead>
  <tbody>
    <% @check_run.log.each do |time, message| %>
      <tr>
        <td><%= l(time, :format => :log) %></td>
        <td><%= format_log_message message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
