<h2><%= t('.check_run_of_health_check_site', :health_check => @health_check.name, :site => @site.name) %></h2>

<%= render :partial => "/health_checks/tabs", :locals => { :selected => :check_runs } %>

<% if @check_run.status.blank? %>
  <div id="details">
    <%= render "details" %>
  </div>
  <%= poll account_site_health_check_check_run_path(@account, @site, @health_check, @check_run, :firefix => true), :element => 'details', :interval => 2 %>
<% else %>
  <%= render "details" %>
<% end %>
