<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyMon</title>
    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag    :application, :media => "all" %>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          <% if logged_in? %>
            <div class="span11">
              <ul class="inline pull-right">
                <li>
                  <%= t('layouts.user_greeter', :user => link_to(current_user.full_name, user_path(current_user))).html_safe %>
                  <%= gravatar(current_user) %>
                </li>
                <li>
                  <% ['en', 'de'].each do |language| %>
                    <%= link_to image_tag("language/#{language}.png"), :locale => language %>
                  <% end %>
                </li>
                <% if current_user.can_see_account_details? %>
                  <% if current_user.current_account %>
                    <li class="account">
                      <div class="btn-group">
                        <button class="btn btn-mini" onclick="document.location='<%= accounts_path %>'"><%= current_user.current_account.name  %></button>
                        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        
                        <% if current_user.accounts.size > 1 %>
                          <ul class="dropdown-menu">
                            <% current_user.accounts.each do |account| %>
                              <% next if account == current_user.current_account %>
                              <li><%= link_to account.name, switch_account_path(account), :method => :post %></li>
                            <% end %>
                          </ul>
                        <% end %>
                      </div>
                    </li>
                  <% else %>
                    <li><%= link_to t('layouts.accounts'), accounts_path %></li>
                  <% end %>
                <% end %>
                <% if current_user.can_enter_admin_area? %>
                  <li><%= link_to t('layouts.admin'), admin_path %></li>
                <% end %>
                <li><%= link_to t('layouts.logout'), logout_path, :method => :delete %></li>
              </ul>
            </div>
            
            <div class="span1">
              <% if current_user.current_account %>
                <div class="pull-right">
                  <%= overall_status %>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="span6">
              <ul class="inline pull-right">
                <li><%= t('layouts.guest_greeter') %></li>
                <li>
                  <% ['en', 'de'].each do |language| %>
                    <%= link_to image_tag("language/#{language}.png"), :locale => language %>
                  <% end %>
                </li>
                <li><%= link_to t('layouts.login'), login_path %></li>
                <li><%= link_to t('layouts.signup'), new_user_path %></li>
              </ul>
            </div>
          <% end %>
        </div>
      
        <div class="row">
          <nav id="menu" class="span12">
            <div class="navbar">
              <div class="navbar-inner">
                <%= link_to 'TinyMon', root_path, :class => 'brand' %>
                <ul class="nav">
                  <li<%= ' class="active"'.html_safe if @tab == :sites %>><%= link_to t('layouts.sites'), sites_path %></li>
                  <li<%= ' class="active"'.html_safe if @tab == :health_checks %>><%= link_to t('layouts.health_checks'), health_checks_path %></li>
                  <li class="pull-right"><%= link_to t('layouts.help'), help_path, :method => :post %></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <div class="row">
        <div class="span12">
          <ul class="breadcrumb">
            <li><%= t('layouts.you_are_here') %> <span class="divider">:</span></li>
            <%= bread_crumb %>
          </ul>

          <% if flash[:error] %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Error!</strong> <%= flash[:error] %>.
            </div>
          <% elsif flash[:notice] %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Success!</strong> <%= flash[:notice] %>.
            </div>
          <% end %>
          
          <% if logged_in? && current_user.current_account %>
            <%= account_check_run_limit_warning_if_needed %>
          <% end %>
          <%= help %>
          <%= yield %>
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="span12">
            <div>
              <%= link_to t('layouts.home'), root_path %> | 
              <%= link_to t('layouts.sites'), sites_path %> |
              <%= link_to t('layouts.health_checks'), health_checks_path %>
            </div>
            <div class="pull-right">
              <%= t('layouts.version', :version => TinyMon::Version.version, :revision => revision_link).html_safe %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <h3><%= t('layouts.quick_links') %></h3>
            <div>
              <a href="http://github.com/tkadauke/tiny_mon"><%= t('layouts.github_project_page') %></a>
              <% FooterLink.ordered.each do |link| %>
                | <%= link_to link.text, link.url %>
              <% end %>
              <% if logged_in? && current_user.can_edit_footer_links? %>
                || <%= link_to t('layouts.edit_footer'), admin_footer_links_path %>
              <% end %>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
