<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>TinyMon</title>
    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag 'style' %>
  </head>
  <body>
    <!-- header start -->
    <div id="header">
      <div class="corset">
        <!-- topheader start -->
        <div id="top_header" class="clearfix">
          <div id="logo">
            <h1><a href="/">TinyMon</a><sup>&beta;</sup></h1>
            <p><%= t('layouts.subtitle') %></p>
          </div>
          <div id="right_header">
            <% if logged_in? %>
              <ul class="action-list">
                <li><%= t('layouts.user_greeter', :user => link_to(current_user.full_name, user_path(current_user))).html_safe %></li>
                <% if current_user.can_see_account_details? %>
                  <% if current_user.current_account %>
                    <li class="account">
                      <%= link_to current_user.current_account.name, accounts_path %>
                      <% if current_user.accounts.size > 1 %>
                        <ul>
                          <% current_user.accounts.each do |account| %>
                            <% next if account == current_user.current_account %>
                            <li><%= link_to account.name, switch_account_path(account), :method => :post %></li>
                          <% end %>
                        </ul>
                      <% end %>
                    </li>
                  <% else %>
                    <li><%= link_to t('layouts.accounts'), accounts_path %></li>
                  <% end %>
                <% end %>
                <% if current_user.can_enter_admin_area? %>
                  <li><%= link_to t('layouts.admin'), admin_path %></li>
                <% end %>
                <li><%= link_to t('layouts.logout'), logout_path, :method => :delete %></li>
              </ul>
            
              <% if current_user.current_account %>
                <div class="overall-status">
                  <%= overall_status %>
                </div>
              <% end %>
            <% else %>
              <ul class="action-list">
                <li><%= t('layouts.guest_greeter') %></li>
                <li><%= link_to t('layouts.login'), login_path %></li>
                <li><%= link_to t('layouts.signup'), new_user_path %></li>
              </ul>
            <% end %>
          </div>
        </div>
        <!-- topheader end -->

        <!-- menu start -->
        <div id="menu">
          <ul>
            <li<%= ' class="selected"' if @tab == :start %>><a href="/"><%= t('layouts.home') %></a></li>
            <li<%= ' class="selected"' if @tab == :sites %>><a href="/sites"><%= t('layouts.sites') %></a></li>
            <li<%= ' class="selected"' if @tab == :health_checks %>><a href="/health_checks"><%= t('layouts.health_checks') %></a></li>
            <li class="help"><%= link_to t('layouts.help'), help_path, :method => :post %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- header end -->

    <!-- body start -->

    <div id="body">
      <div class="corset">
        <div id="canvas">
          <% if flash[:error] %>
            <div id="flash" class="error">
              <%= flash[:error] %>
              <%= link_to_function t('layouts.close_flash'), "$('#flash').fadeOut()" %>
            </div>
          <% elsif flash[:notice] %>
            <div id="flash" class="notice">
              <%= flash[:notice] %>
              <%= link_to_function t('layouts.close_flash'), "$('#flash').fadeOut()" %>
            </div>
          <% end %>
          
          <% if logged_in? && current_user.current_account %>
            <%= account_check_run_limit_warning_if_needed %>
          <% end %>
          
          <div class="breadcrumb"><%= t('layouts.you_are_here') %>: <%= bread_crumb %></div>
          <%= help %>
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- body end -->

    <!-- footer start -->
    <div id="footer">
      <div class="corset">
        <div class="content">
          <div class="left">
            <a href="/"><%= t('layouts.home') %></a> | 
            <a href="/sites"><%= t('layouts.sites') %></a> |
            <a href="/health_checks"><%= t('layouts.health_checks') %></a>
          </div>
          <div class="right">
            <%= t('layouts.version', :version => TinyMon::Version.version, :revision => revision_link).html_safe %>
          </div>
        </div>
        <div class="content">
          <h1><%= t('layouts.quick_links') %></h1>
          <div id="links">
            <a href="http://github.com/tkadauke/tiny_mon"><%= t('layouts.github_project_page') %></a>
            <% FooterLink.ordered.each do |link| %>
              | <%= link_to link.text, link.url %>
            <% end %>
            <% if logged_in? && current_user.can_edit_footer_links? %>
              || <%= link_to t('layouts.edit_footer'), admin_footer_links_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
