<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag %>
      <title>TinyMon</title>
    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag    :application, :media => "all" %>
  </head>
  <body class="skin-blue">
      <header class="header">
        <%= link_to 'TinyMon', root_path, :class => 'logo' %>
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
          <span class="visible-xs"><%= overall_status if logged_in? %></span>
          <div class="navbar-header navbar-right">
            <ul class="nav navbar-nav">
              <li class="hidden-xs"><%= link_to t('layouts.help'), help_path, :method => :post %></li>
              <% if logged_in? %>
                <%= render '/layouts/language_dropdown' %>
                <% if current_user.can_see_account_details? %>
                  <% if current_user.current_account && current_user.accounts.size > 1 %>
                    <li class="dropdown">
                      <a href="<%= accounts_path %>" class="dropdown-toggle" data-toggle="dropdown">
                        <%= current_user.current_account.name %>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <% current_user.accounts.each do |account| %>
                          <% if account == current_user.current_account %>
                            <li><a href="#"><b><%= account.name %></b></a></li>
                          <% else %>
                            <li><%= link_to account.name, switch_account_path(account), :method => :post %></li>
                          <% end %>
                        <% end %>
                      </ul>
                    </li>
                  <% else %>
                    <li><%= link_to t('layouts.accounts'), accounts_path %></li>
                  <% end %>
                <% end %>
                <% if current_user.can_enter_admin_area? %>
                  <li><%= link_to t('layouts.admin'), admin_path %></li>
                <% end %>
                <% if current_user.current_account %>
                  <li class="hidden-md" style="margin-top:5px;"><%= overall_status %></li>
                <% end %>
              <% else %>
                <%= render '/layouts/language_dropdown' %>
                <li><%= link_to t('layouts.login'), login_path %></li>
                <li class="pull-right"><%= link_to t('layouts.signup'), new_user_path %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
      <div class="wrapper row-offcanvas row-offcanvas-left">
          <!-- Left side column. contains the logo and sidebar -->
          <aside class="left-side sidebar-offcanvas">
              <!-- sidebar: style can be found in sidebar.less -->
              <section class="sidebar">
                <% if logged_in? %>
                <div class="user-panel">
                    <div class="pull-left image">
                        <a href="#{user_path(user)}">
                          <img src="<%= gravatar(current_user, :text => current_user.full_name) %>" class="img-circle" alt="User Image">
                        </a>
                    </div>
                    <div class="pull-left info">
                        <p>Hello, <%=  current_user.full_name %></p>


                        <%= link_to t('layouts.logout'), logout_path, :method => :delete %>
                    </div>
                </div>
                  <% end %>
                <ul class="sidebar-menu">
                    <li<%= ' class="active"'.html_safe if current_page?(root_path) %>><%= link_to t('layouts.home'), root_path %></li>
                    <li<%= ' class="active"'.html_safe if @tab == :sites %>><%= link_to t('layouts.sites'), sites_path %></li>
                    <li<%= ' class="active"'.html_safe if @tab == :health_checks %>><%= link_to t('layouts.health_checks'), health_checks_path %></li>
                    <li<%= ' class="active"'.html_safe if controller.controller_name == 'health_check_templates' %>><%= link_to t('layouts.templates'), health_check_templates_path %></li>
                    <li<%= ' class="active"'.html_safe if controller.controller_name == 'settings' %>><%= link_to t('layouts.settings'), settings_path %></li>

                </ul>
              </section>
          </aside>

          <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <%= @page_title if @page_title %>
                    <small><%= @page_subtitle if @page_subtitle %></small>
                </h1>
                <ol class="breadcrumb hidden-phone">
                    <%= bread_crumb %>
                </ol>
            </section>


        <div class="content">
          <% if flash[:error] %>
            <div class="callout callout-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><%= t("flash.error_title") %></strong> <%= flash[:error] %>.
            </div>
          <% elsif flash[:notice] %>
            <div class="callout callout-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><%= t("flash.success_title") %></strong> <%= flash[:notice] %>.
            </div>
          <% end %>

          <% if logged_in? && current_user.current_account %>
            <%= account_check_run_limit_warning_if_needed %>
          <% end %>
          <%= yield %>
          <%= t('layouts.version', :version => TinyMon::Version.version, :revision => revision_link).html_safe %>
        </div>
      </aside>
    </div>
  </body>
</html>
