<%= form_for @account, :html => { :class => 'form' } do |f| %>
  <%= f.error_messages :header_message => t('.could_not_create_account') %>
  
  <p class="form_item">
    <span class="label"><%= f.label :name, t('.name'), :class => 'required' %></span>
    <span class="desc"><%= t(".name_hint") %></span>
    <%= f.text_field :name %>
  </p>
  
  <p><%= f.submit t('.save_account') %></p>
<% end %>
