<% title t('layouts.accounts') %>

<div class="box">
  <div class="box-body">
    <% if @accounts.blank? %>
      <%= render :partial => "no_account" %>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t('.status') %></th>
            <th><%= t('.name') %></th>
            <th><%= t('.options') %></th>
          </tr>
        </thead>
        <tbody>
          <% @accounts.each do |the_account| %>
          <tr>
            <td><%= status_icon the_account %></td>
            <td>
              <% if current_user.can_switch_to_account?(the_account) %>
                <%= link_to the_account.name, switch_account_path(the_account), :method => :post %>
              <% else %>
                <%= the_account.name %>
              <% end %>
            </td>
            <td>
              <%= btn_group t('.details'), account_path(the_account) do |b| %>
                <% b.link_to t('.edit'), edit_account_path(the_account) %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <p><%= link_to t('.new_account'), new_account_path, :class => 'btn btn-default btn-small btn-flat' %></p>
  </div>
</div>
