<% if @accounts.blank? %>
  <%= render :partial => "no_account" %>
<% else %>
  <table>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.options') %></th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td>
            <% if current_user.can_switch_to_account?(account) %>
              <%= link_to account.name, switch_account_path(account), :method => :post %>
            <% else %>
              <%= account.name %>
            <% end %>
          </td>
          <td>
            <%= action_list do |a| %>
              <% a.link_to t('.details'), account_path(account) %>
              <% a.link_to t('.edit'), edit_account_path(account) if current_user.can_edit_account?(account) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p><%= link_to t('.new_account'), new_account_path %></p>
