<% title t('.account', :account => @account.name) %>

<div class="box">
  <div class="box-body">
    <%= render :partial => "tabs", :locals => {:selected => :information} %>

    <%= render :partial => "info" %>

    <h3><%= t(".users") %></h3>

    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th><%= t('.name') %></th>
          <th><%= t('.options') %></th>
        </tr>
      </thead>
      <tbody>
        <% @account.user_accounts_with_users.each do |user_account| %>
          <tr>
            <td><%= gravatar user_account.user, :size => 20 %></td>
            <td>
              <%= link_to user_account.user.full_name, user_path(user_account.user) %>
              <br/>
              <% if current_user.can_assign_role_for_user_and_account?(user_account.user, @account) %>
                <%= form_for [@account, user_account] do |f| %>
                  <%= f.select :role, UserAccount.available_roles_for_select, {}, :style => 'width: 110px', :onchange => "$('#edit_user_account_#{user_account.id}').submit()" %>
                  <%= f.submit t('.change'), :class => 'btn', :style => 'display: none' %>
                <% end %>
              <% else %>
                <strong><%= t("account.role.#{user_account.role}") %></strong>
              <% end %>
            </td>
            <% if current_user.can_remove_user_from_account?(user_account.user, @account) %>
              <td><%= link_to t('.remove'), account_user_account_path(@account, user_account), :method => :delete, :data => { :confirm => t('.really_remove_user_from_account') }, :class => 'btn btn-default btn-sm btn-flat' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if current_user.can_add_user_to_account?(@account) %>
      <p>
        <%= link_to t('.add_existing'), new_account_user_account_path(@account), :class => 'btn btn-default btn-small btn-flat' %>
        <%= link_to t('.add_new'), new_user_path, :class => 'btn btn-default btn-small btn-flat' if @account == current_user.current_account %>
      </p>
    <% end %>
  </div>
</div>
