<h2><%= t('.account', :account => @account.name) %></h2>

<%= render :partial => "tabs", :locals => { :selected => :information } %>

<%= render :partial => "info" %>

<h3><%= t(".users") %></h3>

<table>
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.role') %></th>
      <th><%= t('.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @account.user_accounts_with_users.each do |user_account| %>
      <tr>
        <td><%= link_to user_account.user.full_name, user_path(user_account.user) %></td>
        <% if current_user.can_assign_role_for_user_and_account?(user_account.user, @account) %>
          <td>
            <% form_for [@account, user_account] do |f| %>
              <%= f.select :role, UserAccount.available_roles_for_select %>
              <%= f.submit t('.change') %>
            <% end %>
          </td>
        <% else%>
          <td><strong><%= t("account.role.#{user_account.role}") %></strong></td>
        <% end %>
        <% if current_user.can_remove_user_from_account?(user_account.user, @account) %>
          <td><%= link_to t('.remove'), account_user_account_path(@account, user_account), :method => :delete, :confirm => t('.really_remove_user_from_account') %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.can_add_user_to_account?(@account) %>
  <p>
    <% action_list do |a| %>
      <% a.link_to t('.add_existing'), new_account_user_account_path(@account) %>
      <% a.link_to t('.add_new'), new_user_path if @account == current_user.current_account %>
    <% end %>
  </p>
<% end %>
