<h2><%= t('.account', :account => @account.name) %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @account.user_accounts.each do |user_account| %>
      <tr>
        <td><%= link_to user_account.user.full_name, user_path(user_account.user) %></td>
        <td><%= link_to t('.remove'), account_user_account_path(@account, user_account), :method => :delete, :confirm => t('.really_remove_user_from_account') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to t('.add_existing'), new_account_user_account_path(@account) %> |
  <%= link_to t('.add_new'), new_user_path %>
</p>
