<h2><%= t('.account', :account => @account.name) %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @account.user_accounts_with_users.each do |user_account| %>
      <tr>
        <td><%= link_to user_account.user.full_name, user_path(user_account.user) %></td>
        <% if current_user.can_remove_user_from_account?(user_account.user, @account) %>
          <td><%= link_to t('.remove'), account_user_account_path(@account, user_account), :method => :delete, :confirm => t('.really_remove_user_from_account') %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.can_add_user_to_account?(@account) %>
  <p>
    <%= link_to t('.add_existing'), new_account_user_account_path(@account) %> |
    <%= link_to t('.add_new'), new_user_path %>
  </p>
<% end %>
